@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #555b6e;
  --color-primary-hover: #484c5c;

  /* --text-color-dark: #4c4f69; */
  --text-color-dark: #3b3934;
  --text-color-light: #fff;

  /* https://epicweb-dev-tailwindcss-color-tokens.fly.dev/exercise/03/01/problem?preview=solution */
  /* I can't find --background-color in the docs */
  --background-color-light: #fff;
  --background-color-dark: #2a2c2d;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

th {
  font-weight: medium;
}

#timewise-app {
  height: 100vh;
  overflow: hidden;
}

.app-container {
  display: grid;
  width: 100%;
  height: 100%;
  /* padding: 0 1rem; */
  grid-template-areas:
    "left-menu top-menu"
    "left-menu main";
  grid-template-columns: 11rem 1fr;
  grid-template-rows: 3.5rem 1fr;
}

.app-container > .profile {
  grid-area: left-menu;
}

.app-container > .left-menu {
  grid-area: left-menu;
}

.app-container > .top-menu {
  grid-area: top-menu;
}

.app-container > main {
  grid-area: main;
}

.app-container > .top-menu,
.app-container > main {
  max-width: 1700px;
  width: 100%;
  justify-self: center;
}

.react-calendar {
  width: 100% !important;
  border: none;
}

.rdp-root {
  --rdp-day_button-width: 100%;
  --rdp-day_button-height: 100%;
}

.rdp-months {
  max-width: none;
}

.rdp-month {
  width: 100%;
}

.rdp-month_grid {
  width: 100%;
}
